/* fl-form */
.fl-form {
    display: block;
}

.fl-form * {
    box-sizing: border-box;
}

.fl-form-group:not(:first-child) {
    margin-top: 1.5rem;
}

.fl-form-label {
    display: block;
    margin-bottom: .5rem;
}

.fl-form-input {
    outline: 0 !important;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 7px;
    padding: .7rem 1rem;
    transition: all .3s;
    width: 100%;
}

.fl-form-input:focus {
    border-color: rgb(68, 156, 239);
    box-shadow: 1px 1px 2px rgb(68, 156, 239, .3), -1px -1px 2px rgb(68, 156, 239, .3);
}

.fl-form-error-message {
    color: red;
    display: none;
}

.fl-form-input.error {
    border-color: red;
}

.fl-form-input.error:focus {
    box-shadow: 1px 1px 2px rgb(255, 0, 0, .3), -1px -1px 2px rgb(255, 0, 0, .3);
}

.fl-form-error-message.show {
    display: block;
}

.fl-form-btn,
.fl-form-profile-img-label {
    color: white;
    transition: all .3s;
    border-radius: 7px;
    padding: .7rem 1rem;
    background-color: rgb(68, 156, 239);
    outline: 0 !important;
    display: block;
    border: 0 !important;
    width: 100%;
    cursor: pointer;
}

.fl-form-btn.disabled {
    background-color:  rgb(213, 213, 213);
    cursor: not-allowed;
}

.fl-form-reset {
    margin-top: 1rem;
    background-color: red;
}

.fl-form-textarea-left-characters {
    text-align: right;
    color: rgb(132, 131, 131);
    margin-top: 4px;
    font-size: 15px;
}

.fl-form-password-parent,
.fl-form-password-repeat-parent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fl-form-password,
.fl-form-password-repeat {
    padding-right: 3rem;
}

.fl-form-password-icon,
.fl-form-password-repeat-icon {
    position: absolute;
    margin-right: 1rem;
    cursor: pointer;
}

.fl-form-profile-img-label {
    display: inline-block;
    width: initial;
}

.fl-form-profile-img-input,
.fl-form-profile-img-box {
    display: none;
}

.fl-form-profile-img-box {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin-top: 2rem;
}

.fl-form-profile-img-box.show {
    display: block;
}

.fl-form-profile-img {
    display: block;
    width: 100%;
    height: auto;
    min-height: 100%;
}

/* Chrome, Safari, Edge, Opera */
.fl-form-phone-number::-webkit-outer-spin-button,
.fl-form-phone-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.fl-form-phone-number[type=number] {
  -moz-appearance: textfield;
}

.fl-form-phone-number-box {
    display: flex;
}

.fl-form-phone-number-prefix {
    width: 25%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.fl-form-phone-number {
    width: 75%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

@media (min-width: 576px) {

    .fl-form-phone-number-prefix {
        width: 20%;
    }
    
    .fl-form-phone-number {
        width: 80%;
    }

}
/* the-end-of-fl-form */